<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rouge.anem">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="darkvador.nurseproject.android.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".override.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo_anem_png"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                dependencies {
                compile fileTree(dir: 'libs', include: ['*.jar'])
                compile 'com.google.android.gms:play-services:9.6.1'
                compile 'com.android.support:appcompat-v7:24.2.1'
                compile 'com.android.support:design:24.2.1'
                testCompile 'junit:junit:4.12'
                compile files('libs/gcm.server.jar')
                }

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.google.android.gcm.demo.app" />
            </intent-filter>
        </receiver>

        <service android:name=".gcm.GcmIntentService" />

        <activity android:name=".Entreprise.EntrepriseActivity" />
        <activity android:name=".Etudiant.EtudiantActivity" />
        <activity android:name=".Stage.StageActivity" />
        <activity android:name=".Shop.ShopActivity" />
        <activity android:name=".Entreprise.NewEntrepriseActivity" />
        <activity android:name=".Main.NotifyActivity" />
        <activity android:name=".Message.MessageActivity" />
        <activity
            android:name=".Entreprise.TabEntrepriseActivity"
            android:label="@string/title_activity_tab_entreprise" />
        <activity android:name=".Entreprise.NewEntrepriseContainer" />
        <activity android:name=".Stage.TabStageActivity"
            android:label="@string/title_activity_tab_entreprise"
            android:parentActivityName=".Main.MainActivity">
        </activity>
        <activity
            android:name=".Etudiant.TabEtudiantActivity"
            android:label="@string/title_activity_tab_etudiant"
            android:parentActivityName=".Etudiant.EtudiantActivity" />
        <activity android:name=".Entreprise.NewEntrepriseContainer" />
        <activity android:name=".Etudiant.NewEtudiantContainer" />
        <activity android:name=".Stage.NewStageActivity"></activity>
    </application>

</manifest>